@import "tailwindcss";

.sidebar-expanded {
    width: 288px; /* 72 * 4px = 288px */
}

.sidebar-collapsed {
    width: 64px; /* 16 * 4px = 64px */
}

.content-expanded {
    margin-left: 288px;
}

.content-collapsed {
    margin-left: 64px;
}

.transition-all {
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}